#product_form .row {
    align-items: baseline;
}

.cards {
    --gap: 1em;
    gap: var(--gap);
}

.cards .card {
    --items-count: 4;

    width: calc(
            calc(100% - calc(1em * calc(var(--items-count) - 1))) / var(--items-count)
    );

    aspect-ratio: 4 / 3;
}